@import '../base/mixins';
@import '../base/variables';

.contacto {

    margin-top: 3rem;

    &__titulo {
        display: inline-block;
        border: $ancho_bordes solid $negro;
        padding: .3rem;
        margin: 2rem auto;
    }

    &__info {
        margin-bottom: 3rem;
    }

    &__formulario {
        margin: 0 auto;
        border: $ancho_bordes solid $negro;
        max-width: max-content;
        padding: 1rem;
    }

    &__campo {
        gap: 1rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        &--botones {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
        }
    }

}