@import 'variables';

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    display: block;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.backimage {
    background-image: url(../images/background6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
