$colorPrimario: #FFFFFF;
$secundario: #C39C63;
$negro: #000000;
$blanco: #FFFFFF;
$grisClaro: #ECEEEF;

// Media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Unidades
$separacion: 5rem;

//$imagen_noticia: 33%;
//$backimage: background-size cover; background-repeat no-repeat


$anchoBordes: 2px;




